/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  background-color: #f0e8ff;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.Toastify__toast {
  border-radius: 0.75rem !important;
}